<%# CREATE NEW COUNSELOR form %>

<%= form_with(model: counselor, local: true) do |form| %>


  <% if counselor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(counselor.errors.count, "error") %> prohibited this counselor from being saved:</h2>

      <ul>
      <% counselor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :counselor_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :counselor_last_name %>
  </div>

  <div class="field">
    <%= form.label :age, "Date of Birth" %>
    <%= form.date_field :age, id: :counselor_age %>
    <a>why we need to know this...</a>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select(:couselor_gender, ['Undisclosed','Male','Female','Other'], {}, { :class => 'select' })%>
  </div>

  <div class="field">
    <%= form.label :zipcode %>
    <%= form.search_field :zipcode, id: :counselor_zipcode %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :counselor_image %>
  </div>

  <div class="field">
    <%= form.label :ssn, "Social Security #" %>
    <%= form.number_field :ssn, id: :counselor_ssn %>
  </div>

  <div class="field">
    <%= form.label :occ_title, "Occupational Title" %>
    <%= form.text_field :occ_title, id: :counselor_occ_title %>
  </div>

  <div class="field">
    <%= form.label :occ_state, "U.S. State of License" %>
    <%= form.text_field :occ_state, id: :counselor_occ_state %>
  </div>

  <div class="field">
    <%= form.label :license, "License Number" %>
    <%= form.text_field :license, id: :counselor_license %>
  </div>

<h2> Payment Information </h2> 
<i class="material-icons">help</i>
<hr>

  <div class="field">
    <%= form.label :payment, "Payment Type"%>
    <%= form.select(:couselor_payment, ['Visa','Mastercard','American Express','Discover', 'Other'], {}, { :class => 'select' })%>
  </div>

  <div class="field">
    <%= form.label :license, "Account Number" %>
    <%= form.text_field :payment, id: :counselor_payment %>
  </div>

  <div class="field">
    <%= form.label :agreement %>
    <%= form.check_box :agreement, id: :counselor_agreement %>
  </div>

  <div class="actions">
    <%= form.submit "Submit for Verification", class: "btn btn-primary" %>
  </div>
<% end %>
