<%# SAVED Counselor %>
<p id="notice"><%= notice %></p>

<h3> Your Counselor Profile: </h3>
<hr>

<p>
  <strong>First Name:</strong>
  <%= @counselor.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @counselor.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @counselor.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @counselor.gender %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @counselor.zipcode %>
</p>

<p>
  <strong>Image:</strong>
  <%= @counselor.image %>
</p>

<p>
  <strong>Social Security Number:</strong>
  <%= @counselor.ssn %>
</p>

<p>
  <strong>Occupational Title:</strong>
  <%= @counselor.occ_title %>
</p>
<p>
<strong>U.S. State of License:</strong>
<%= @counselor.occ_state %>
</p>

<p>
<strong>License Number:</strong>
<%= @counselor.license %>
</p>

<p>
<strong>Payment:</strong>
<%= @counselor.payment %>
</p>

<p>
<strong>Agreement:</strong>
<%= @counselor.agreement %>
</p>

<hr>

<%= link_to 'Edit', edit_counselor_path(@counselor), id: "editbtn" %>
