<%# SAVED Counselor %>
<%# https://getbootstrap.com/docs/4.0/content/tables/ %>
<%# Use this for creating a table on this and other similar views %>


<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">
      <p>
      <strong>First Name:</strong>
      <%= @counselor.first_name %>
      </p>
      </th>
      
      <th scope="col">
      <p>
      <strong>Last Name:</strong>
      <%= @counselor.last_name %>
      </p>
      </th>

      <th scope="col">
      <p>
      <strong>Age:</strong>
      <%= @counselor.age %>
      </p>
      </th>
      
      <th scope="col">
      <p>
      <strong>Gender:</strong>
      <%= @counselor.gender %>
      </p>
      </th>

      <th scope="col">
      <p>
      <strong>Zipcode:</strong>
      <%= @counselor.zipcode %>
      </p>
      </th>

      <th scope="col">
      <p>
      <strong>Image:</strong>
      <%= @counselor.image %>
      </p>
      </th>

      <th scope="col">
      <p>
      <strong>Social Security Number:</strong>
      <%= @counselor.ssn %>
      </p>
      </th>

      <th scope="col">
      <p>
      <strong>Occupational Title:</strong>
      <%= @counselor.occ_title %>
      </p>
      </th>
      
      <th scope="col">
      <p>
      <strong>U.S. State of License:</strong>
      <%= @counselor.occ_state %>
      </p>
      </th>
      
      <th scope="col">
      <p>
      <strong>License Number:</strong>
      <%= @counselor.license %>
      </p>
      </th>
      
      <th scope="col">
      <p>
      <strong>Payment:</strong>
      <%= @counselor.payment %>
      </p>
      </th>
      
      <th scope="col">
      <p>
      <strong>Agreement:</strong>
      <%= @counselor.agreement %>
      </p>
      </th>
    
    </tr>
  </thead>

  <%# <tbody>
    <tr>
      <th scope="row">1</th>
      <td>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>
      </td>
    </tr>
  </tbody>
</table> %>

<%= link_to 'Edit', edit_counselor_path(@counselor), id: "editbtn" %> |
<%= link_to 'Back', counselors_path, id:"backbtn" %>
