<%# SAVED Counselor %>
<p id="notice"><%= notice %></p>

<h3> Your Counselor Profile: </h3>
<hr>

<%= @counselor.each do |cou|%>

<p>
  <strong>First Name:</strong>
  <%= cou.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= cou.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= cou.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= cou.gender %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= cou.zipcode %>
</p>

<p>
  <strong>Image:</strong>
  <%= cou.image %>
</p>

<p>
  <strong>Social Security Number:</strong>
  <%= cou.ssn %>
</p>

<p>
  <strong>Occupational Title:</strong>
  <%= cou.occ_title %>
</p>
<p>
<strong>U.S. State of License:</strong>
<%= cou.occ_state %>
</p>

<p>
<strong>License Number:</strong>
<%= cou.license %>
</p>

<p>
<strong>Payment Type:</strong>
<%= cou.payment_type %>
</p>

<p>
<strong>Card Number:</strong>
<%= cou.payment %>
</p>

<p>
<strong>Agreement:</strong>
<%= cou.agreement %>
</p>

<hr>
<% end %>
<%#= link_to 'Edit', edit_counselor_path(@counselor), id: "editbtn" %>
