<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:user, url: signup_path) do |f| %>
    
    <%= render 'shared/error_messages' %>

<%# Email/PW New %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

<%# Client / Counselor choice %>
<hr>
    <div> Select Account Type: <button type="button" class="btn btn-link">
    <i class="material-icons">help_outline</i>
    </button> 
    </div>
    <%# <%= f.label :is_client, "Client" %> 
    <%= f.submit 'Client', class: "btn btn-primary" %>

<br>
<br>
    <%# <%= f.label :is_client, "Counselor" %> 
    <%= f.submit 'Counselor', class: "btn btn-primary" %>
<hr>
<%# SUBMIT %>
      <%= f.submit "Create My Account", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>


<%# 
  <div class="actions">
    <%= form.submit %>
  <%# </div> %>
