<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:user, url: signup_path) do |f| %>
    
    <%= render 'shared/error_messages' %>

<%# Email/PW New %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

<%# Client / Counselor choice %>
<hr>
  <h2>Account Type:
    <div type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top" title="Please select either Client or Counselor. One Client or Counselor is permitted per each new account. If Client is selected, you may finish your Account registration and get started talking right away.
        If Counselor is selected, your account registration will undergo a verification process.">
      <i class="material-icons" id"helpbtn">help_outline</i>
    </div>
  </h2>
    <%= f.submit 'Client', class: "btn btn-outline-info" %>
<br>
<br>
    <%= f.submit 'Counselor', class: "btn btn-outline-info" %>
<hr>


<%# SUBMIT %>
      <%= f.submit "Create My Account", class: "btn btn-primary", id:"signup" %>

    <% end %>
  </div>
</div>


<%# 
  <div class="actions">
    <%= form.submit %>
  <%# </div> %>
