<% provide(:title, "Edit user") %>
<% provide(:button_text, 'Save changes') %>

<h1>Update your profile</h1>

<%# Update EMAIL / PW %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

<hr>
<h2>Account Type:</h2>
<p> You may not change your account type here. Each Client and Counselor has their own account. So, if you would like to create a new account of a different type, please log out and follow the prompts to "Sign Up". 
<hr>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>

<%= link_to 'Back', users_path %>
