<p id="notice"><%= notice %></p>

<h1>All Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

<%# Use for any block one wishes to paginate. Must be reflected in Gemfile wih gems of 'will_paginate' and 'bootstrap-will_paginate' %>

  <%= will_paginate %>

  <ul class="users">
    <% @users.each do |user| %>

          <%# TEMPORARY %>
          <%# render ' ' method in this context has the power to forego any following grouped attributes and render by the @users = User.all, insofar as all User objects have been correctly defined %>
          <%# <%= render @user %> 

      <li>
        <%= gravatar_for user, size: 50 %>
        <%= link_to user.email, user %>
      </li>

      <tr>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </ul>
  
  <%= will_paginate %>

  </tbody>
</table>


<br>
<br>
    <p id="new_user">New to Openly? <%= link_to "Sign Up", signup_path, class: "btn btn-sm btn-primary" %></p>
