<%= form_with model: @client, local: true do |form| %>

  <%# ERROR handling for form fields  %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>
      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <hr>
  <h4> Personal & Professional Information <i class="material-icons" id="signup">help</i>
  </h4>
  <br>
    <div class="field">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, id: :client_first_name %>
    </div>
    <div class="field">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, id: :client_last_name %>
    </div>
    <div class="field">
      <%= form.label :age %>
      <%= form.number_field :age, id: :client_age %>
    </div>
    <div class="field">
      <%= form.label :gender %>
      <%= form.select(:client_gender, ['Undisclosed','Male','Female','Other'], {}, { :class => 'select' })%>
    </div>
    <div class="field">
      <%= form.label :zipcode %>
      <%= form.number_field :zipcode, id: :client_zipcode %>
    </div>
    <div class="field">
      <%= form.label :alias %>
      <%= form.text_field :alias, id: :client_alias %>
    </div>
  <hr>
  <h4> Payment Information <i class="material-icons" id="signup">help</i>
  </h4>
  <br>
    <div class="field">
      <%= form.label :payment, "Payment Type"%>
      <%= form.select(:client_payment, ['Visa','Mastercard','American Express','Discover', 'Other'], {}, { :class => 'select' })%>
    </div>
    <div class="field">
      <%= form.label :payment, "Card Number" %>
      <%= form.text_field :payment, id: :client_payment %>
    </div>
      <hr>
    <h4> Terms of Use <i class="material-icons" id="signup">help</i>
    </h4>
      <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea1">
        Proident dolore do quis exercitation in esse ex aliqua deserunt consequat in duis consequat. Eu ad nisi aliqua do velit laborum eu esse voluptate culpa. Enim commodo magna amet fugiat adipisicing officia amet labore ex tempor ullamco amet. Cupidatat labore sunt commodo magna adipisicing nulla nisi laborum reprehenderit nostrud magna commodo. Dolor pariatur dolor sit irure proident nisi id. Elit elit sunt amet laborum magna veniam ut velit consequat dolore enim Lorem adipisicing.
        Id velit minim ex pariatur ipsum mollit proident eiusmod reprehenderit veniam officia in. Laborum sint dolor cupidatat officia nisi id. Occaecat est eu id nisi velit sunt adipisicing dolor sint esse ullamco elit.Eu dolor consequat cillum irure. Cillum ut velit aliqua non magna dolor sit consequat. Aliqua irure ad cillum nostrud veniam adipisicing. Duis Lorem reprehenderit dolor dolore reprehenderit Lorem sunt fugiat velit.

        Proident dolore do quis exercitation in esse ex aliqua deserunt consequat in duis consequat. Eu ad nisi aliqua do velit laborum eu esse voluptate culpa. Enim commodo magna amet fugiat adipisicing officia amet labore ex tempor ullamco amet. Cupidatat labore sunt commodo magna adipisicing nulla nisi laborum reprehenderit nostrud magna commodo. Dolor pariatur dolor sit irure proident nisi id. Elit elit sunt amet laborum magna veniam ut velit consequat dolore enim Lorem adipisicing.
        Id velit minim ex pariatur ipsum mollit proident eiusmod reprehenderit veniam officia in. Laborum sint dolor cupidatat officia nisi id. Occaecat est eu id nisi velit sunt adipisicing dolor sint esse ullamco elit.Eu dolor consequat cillum irure. Cillum ut velit aliqua non magna dolor sit consequat. Aliqua irure ad cillum nostrud veniam adipisicing. Duis Lorem reprehenderit dolor dolore reprehenderit Lorem sunt fugiat velit.
        </textarea>
      </div>
      <div class="form-checkbox">
        <%= form.label :agreement, "I Agree" %>
        <%= form.check_box :agreement, id: :client_agreement %>
      </div>
        <hr>
    <div class="actions">
      <%= form.submit  class: 'btn btn-success', id:"signup"%>
    </div>
<% end %>
