<p id="notice"><%= notice %></p>

<h3> Your Client Profile: </h3>
<hr>

<p>
  <strong>First name:</strong>
  <%= @client.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @client.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @client.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @client.gender %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @client.zipcode %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @client.alias %>
</p>

<%# <p>
  <strong>Image:</strong>
  <%= @client.image %>
<%# </p>  %>

<p>
  <strong>Payment Type:</strong>
  <%= @client.payment %>
</p>

<p>
  <strong>Card Number:</strong>
  <%= @client.payment %>
</p>

<hr>

<%= link_to 'Edit', edit_client_path(@client), id: "editbtn" %>
<%# link_to 'Back', '#', id: "backbtn" %>
