<p id="notice"><%= notice %></p>


<h3> Your Client Profile: </h3>
<hr>

<%= @client.each do |c|%>

<p>
  <strong>First name:</strong>
  <%= c.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= c.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= c.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= c.gender %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= c.zipcode %>
</p>

<p>
  <strong>Alias:</strong>
  <%= c.alias %>
</p>

<%# <p>
  <strong>Image:</strong>
  <%= c.image %>
<%# </p>  %>

<p>
  <strong>Payment Type:</strong>
  <%= c.payment %>
</p>

<p>
  <strong>Card Number:</strong>
  <%= c.payment %>
</p>

<hr>
<% end %>
<%#= link_to 'Edit', edit_client_path(@client), id: "editbtn" %>
<%# link_to 'Back', '#', id: "backbtn" %>
