<%# NAVBAR Contents %>
  
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Openly", about_path, id: "logo" %>
        <nav>
        
          <%# HELP Sub NAve %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Help", help_path %>
            <%# <i class="material-icons">help</i> %>
            </li>
          
            <% if logged_in? %>
          
              <li><%= link_to "Users", users_path %>
              </li>

                <%# TALK Sub Nav %>
                <li><%= link_to "Talk", '#' %>
                </li> 

                <%# ACCOUNT Sub Nav %>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Account <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
              
                    <%# CLIENT Profile %>
                    <li><%= link_to "Client Profile", current_user %>
                    </li>
                  
                    <%# COUNSELOR Profile %>
                    <li><%= link_to "Counselor Profile", current_user %>
                    </li>

                    <%# SETTINGS - Application %>
                    <li><%= link_to "Settings", edit_user_path(current_user) %>
                    </li>

                    <li class="divider">
                    </li>
                
                    <%# LOGOUT %>
                    <li>
                      <%= link_to "Log out", logout_path, method: :delete %>
                      <%# <i class="material-icons">offline_pin</i> %>
                    </li>
                  </ul>
                </li>

          <%# LOGIN %>
          <% else %>
            <li><%= link_to "Log In", login_path %></li>
          <% end %> 

          </ul>
        </nav>
      </div>
    </header>


