<%# NAVBAR Contents %>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
      </span>
    </button>
        
      <%# LOGO TITLE, left-align %>
      <a class="navbar-brand" id="icon_logo">
        <%= link_to "Openly", about_path, id: "logo" %>
        <%# <i class="material-icons">fingerprint</i> %>
      </a>

<%# right-align, hamburger responsive %>
        
        
      <%# HELP Sub NAV %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Help", help_path %>
        <%# <i class="material-icons">help</i> %>
        </li>
          
          <%# if logged in as ADMIN %>
              <%# <li><%= link_to "Users", users_path %>
              <%# </li> %> 

            <% if logged_in? %>          

                <%# TALK Sub Nav %>
                <li><%= link_to "Talk", '#' %>
                </li> 

                <%# ACCOUNT Sub Nav %>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown">
                    Account <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">

<%# If User.is_client = true, cannot see Counselor, and v/v.  %>

            <%# show %>
                    <%# CLIENT Profile %>
                    <li><%= link_to "Client Profile", '#' %>
                    </li>
            
            <%# else %>
            
                    <%# COUNSELOR Profile %>
                    <li><%= link_to "Counselor Profile", '#' %>
                    </li>

                    <%# SETTINGS - Application %>
                    <li><%= link_to "Settings", edit_user_path(current_user) %>
                    </li>

                    <li class="divider">
                    </li>
                
                    <%# LOGOUT %>
                    <li>
                      <%= link_to "Log out", logout_path, method: :delete %>
                      <%# <i class="material-icons">offline_pin</i> %>
                    </li>
                  </ul>
                </li>
<%# end %>
          <%# LOGIN %>
          <% else %>
            <li><%= link_to "Log In", login_path %></li>
          <% end %> 

          </ul>
      </div>
    </header>
</nav>
