<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title (yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%# Bootstrap link %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <%# Material Icons cdn %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <%# Google Fonts %>
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%# PARTIAL - IE9 %>
    <%= render 'layouts/shim' %>

  </head>
  <body>

    <%# PARTIAL - NAVBAR  %>    
    <%= render 'layouts/header' %>

    <div class="container">
      <%= yield %>
        <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <%# PARTIAL - FOOTER  %>
    <%= render 'layouts/footer' %>

  </body>
</html>